
   

        <div class="card">
            <div class="card-header">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <p class="h5 d-inline-block font-weight-bold">การจัดการข้อมูลขยะ</p>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="chart">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a href="addtrash" class="btn btn-success" role="button" aria-pressed="true">
                                <i class="fas fa-plus fa-fw"></i>
                                เพิ่มข้อมูลขยะ
                            </a>
                        </li>
                    </ul>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">รหัสการเก็บขน</th>
                                <th scope="col">วันที่เก็บขยะ</th>
                                <th scope="col">ปริมาณขยะรวม(กก.)</th>
                                <th scope="col">เส้นทางเก็บขนขยะ</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>SB0001</td>
                                <td>21/01/63 10:06</td> 
                                <td>30</td>
                                <td>หาดวอนนภา</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fa fa-edit fa-fw"></i>
                                        แก้ไข
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="nav-icon fas fa-trash fa-fw"></i>
                                        ลบ
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>SB0002</td>
                                <td>21/01/63 10:15</td> 
                                <td>40</td>
                                <td>ถนนเลี่ยงเมือง</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fa fa-edit fa-fw"></i>
                                        แก้ไข
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="nav-icon fas fa-trash fa-fw"></i>
                                        ลบ
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>SB0003</td>
                                <td>21/01/63 10:30</td> 
                                <td>20</td>
                                <td>ถนนลงหาดบางแสน</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fa fa-edit fa-fw"></i>
                                        แก้ไข
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="nav-icon fas fa-trash fa-fw"></i>
                                        ลบ
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                
            </div>
            <!-- /.card-body -->
        </div>
  
