<div class="card card-light">
    <div class="card-header">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <p class="h5 d-inline-block font-weight-bold">รายละเอียดข้อมูลการจัดการข้อมูลขยะ</p>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <label>รหัสการเก็บขน</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>SB0001</span>
            </div>
            <div class="col-sm-4">
                <label>วันที่เก็บขยะ</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>21/01/63 10:06</span>
            </div>
            <div class="col-sm-4">
                <label>เส้นทางการเก็บขน</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>หาดวอนนภา</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>ทะเบียนรถขยะ</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>85-9983</span>
            </div>
            <div class="col-sm-4">
                <label>พนักงานขับรถ</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>บุญมี เกริกศรี</span>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>พนักงานเก็บขนคนที่ 1</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>สุชาติ สานฝัน</span>
            </div>
            <div class="col-sm-4">
                <label>พนักงานเก็บขนคนที่ 2</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>อำนวย อวยชัย</span>
            </div>
            <div class="col-sm-4">
                <label>พนักงานเก็บขนคนที่ 3</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>ผดุง ยุติธรรม</span>
            </div>

        </div>
        <br><br>
        <div class="chart">
            <table style="width:100%" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ลำดับ</th>
                        <th scope="col">ประเภทของขยะ</th>
                        <th scope="col">ปริมาณขยะ(กก.)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ขยะทั่วไป</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>ขยะอินทรีย์</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>ขยะรีไซเคิล</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>ขยะอันตราย</td>
                        <td>5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <!--<div class="card card-light">

        <div class="card-body">

            <div class="chart">
                <table style="width:100%" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ลำดับ</th>
                            <th scope="col">ประเภทของขยะ</th>
                            <th scope="col">ปริมาณขยะ(กก.)</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>ขยะทั่วไป</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>ขยะอินทรีย์</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ขยะรีไซเคิล</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>ขยะอันตราย</td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    -->
        <!-- /.card-body -->