<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light" *ngIf="authenticationService.isAuthenticated">  
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" data-toggle="dropdown">
          <i class="far fa-bell fa-lg"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
          <span class="dropdown-item" style="text-align:center">การแจ้งเตือน</span>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-trash mr-2"></i> มหาวิทยาลัยบูรพา
            <span class="float-right text-muted text-sm">2 วัน</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-trash mr-2"></i> มหาวิทยาลัยบูรพา
            <span class="float-right text-muted text-sm">2 วัน</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-trash mr-2"></i> มหาวิทยาลัยบูรพา
            <span class="float-right text-muted text-sm">2 วัน</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" style="text-align:center">ดูทั้งหมด</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" data-toggle="dropdown">
          <i class="fas fa-sign-out-alt fa-lg"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" aria-labelledby="navbarDropdown">
          <a (click)="logout()" class="dropdown-item">ออกจากระบบ</a>
        </div>
      </li>
    </ul>
  </nav>

  <div  *ngIf="authenticationService.isAuthenticated">
    <app-left-menu></app-left-menu>

  </div>

  <footer class="main-footer" *ngIf="authenticationService.isAuthenticated">
    <strong>Copyright &copy; 2020</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>

      <router-outlet></router-outlet>
  

