<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="Admin.html" class="brand-link">
    <img src="./assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Bin Management</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
          <a (click)="dashboard()" class="nav-link active" data-toggle="pill" style="cursor: hand;cursor: pointer;">
            <i class="nav-icon fas fa-home"></i>
            <p class="h5">หน้าแรก</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="trashmanage()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
            <i class="nav-icon far fa fa-trash"> </i>
            <p class="h5">จัดการข้อมูลขยะ</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="device()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
            <i class="nav-icon fas fa-plus-square"></i>
            <p class="h5">อุปกรณ์<span class="right badge badge-danger">3</span></p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="report()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
            <i class="nav-icon fas fa-file"></i>
            <p class="h5">รายงาน</p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p class="h5">
              การตั้งค่า
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <p class="h5">
                  เกี่ยวกับข้อมูลขยะ
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a (click)="addtypetrash()" class="nav-link">
                    <p>ข้อมูลประเภทของขยะ</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a (click)="addroutecollectiontrash()" class="nav-link">
                    <p>ข้อมูลเส้นทางการเก็บขน</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a (click)="adddriver()" class="nav-link">
                    <p>ข้อมูลพนักงานขับรถ</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a (click)="addcollectortrash()" class="nav-link">
                    <p>ข้อมูลพนักงานเก็บขน</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a (click)="addtruck()" class="nav-link">
                    <p>ข้อมูลรถขยะ</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          
        </li>
        



        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
            <i class="nav-icon fas fa-user"></i>
            <p class="h5">จัดการผู้ใช้</p>
            <i class="fas fa-angle-left right"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a (click)="manageUsers()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
                <i class="far fa-circle nav-icon"></i>
                <p class="h5">จัดการผู้ใช้ 1</p>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="manageUsers()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
                <i class="far fa-circle nav-icon"></i>
                <p class="h5">จัดการผู้ใช้ 2</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <!-- /.sidebar -->
</aside>