<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="./assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Waste Management</span>
  </a>

  <div class="sidebar">

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
          <a (click)="dashboard()" class="nav-link active" data-toggle="pill" style="cursor: hand;cursor: pointer;">
            <i class="nav-icon fas fa-home"></i>
            <p class="h5">หน้าแรก</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="trashmanage()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
            <i class="nav-icon far fa fa-trash"> </i>
            <p class="h5">จัดการข้อมูลขยะ</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="device()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
            <i class="nav-icon fas fa-plus-square"></i>
            <p class="h5">อุปกรณ์<span class="right badge badge-danger">3</span></p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
            <i class="nav-icon fas fa-file"></i>
            <p class="h5">รายงาน</p>
            <i class="fas fa-angle-left right"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a (click)="trashreport()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
                <p class="h6">รายงานเกี่ยวกับข้อมูลขยะ</p>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="deviceReport()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
                <p class="h6">รายงานเกี่ยวกับอุปกรณ์</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
            <i class="nav-icon fas fa-cog"></i>
            <p class="h5">
              การตั้งค่า
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a (click)="addtypetrash()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
                <p>จัดการประเภทของขยะ</p>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="addroutecollectiontrash()" class="nav-link" data-toggle="pill"
                style="cursor: hand;cursor: pointer;">
                <p>จัดการเส้นทางการเก็บขน</p>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="adddriver()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
                <p>จัดการพนักงานขับรถ</p>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="addcollectortrash()" class="nav-link" data-toggle="pill"
                style="cursor: hand;cursor: pointer;">
                <p>จัดการพนักงานเก็บขน</p>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="addtruck()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
                <p>จัดการรถขยะ</p>
              </a>
            </li>
          </ul>

        </li>

        <li class="nav-item">
          <a (click)="manageUsers()" class="nav-link" data-toggle="pill" style="cursor: hand;cursor: pointer;">
            <i class="nav-icon fas fa-user"></i>
            <p class="h5">จัดการผู้ใช้</p>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</aside>