<div class="card card-light">
    <div class="card-header">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <p class="h5 d-inline-block font-weight-bold">เพิ่มข้อมูลพนักงานเก็บขน</p>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form role="form">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>ชื่อ</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>นามสกุล</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>รหัสบัตรประจำตัวประชาชน</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>บ้านเลขที่</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>หมู่</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>ถนน</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>ตำบล</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>อำเภอ</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>จังหวัด</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>รหัสไปรษณีย์</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>เบอร์โทรศัพท์</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>

        </form>

        <ul class="nav justify-content-center">
            <button type="submit" class="btn btn-primary">บันทึก</button>
            &nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-default">ยกเลิก</button>
        </ul>
    </div>
    <!-- /.card-body -->
</div>

<div class="card card-light">
    <div class="card-body">
        <div class="chart">
            <p class="h5 d-inline-block font-weight-bold">รายการข้อมูลพนักงานเก็บขน</p>
            <br><br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ลำดับ</th>
                        <th scope="col">ชื่อ-นามสกุล</th>
                        <th scope="col">รหัสบัตรประจำตัวประชาชน</th>
                        <th scope="col">ที่อยู่</th>
                        <th scope="col">เบอร์โทรศัพท์</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>สุชาติ สานฝัน</td>
                        <td>1234566789412</td>
                        <td>65 ถ.ลงหาดบางแสนใต้ ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                        <td>0908423615</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning">
                                <i class="fa fa-edit fa-fw"></i>
                                แก้ไข
                            </button>&nbsp;
                            <button type="button" class="btn btn-sm btn-danger">
                                <i class="nav-icon fas fa-trash fa-fw"></i>
                                ลบ
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>อำนวย อวยชัย</td>
                        <td>2165485963147</td>
                        <td>74 ถ.ลงหาดบางแสนใต้ ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                        <td>0918461527</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning">
                                <i class="fa fa-edit fa-fw"></i>
                                แก้ไข
                            </button>&nbsp;
                            <button type="button" class="btn btn-sm btn-danger">
                                <i class="nav-icon fas fa-trash fa-fw"></i>
                                ลบ
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>ผดุง ยุติธรรม</td>
                        <td>1485264593574</td>
                        <td>28 ถ.ลงหาดบางแสนใต้ ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                        <td>0615832014</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning">
                                <i class="fa fa-edit fa-fw"></i>
                                แก้ไข
                            </button>&nbsp;
                            <button type="button" class="btn btn-sm btn-danger">
                                <i class="nav-icon fas fa-trash fa-fw"></i>
                                ลบ
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>
    <!-- /.card-body -->
</div>