<div class="content-wrapper">
    <div style="padding: 20px">
        <div class="card card-light">
            <div class="card-header">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <p class="h5 d-inline-block font-weight-bold">เพิ่มพนักงานเก็บขน</p>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="chart">
                    <ul class="nav justify-content-end">
                        <button type="button" class="btn btn-success mb-3" data-toggle="modal"
                            data-target="#exampleModal">
                            <i class="fas fa-plus fa-fw"></i>
                            เพิ่มพนักงานเก็บขน
                        </button>
                    </ul>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ลำดับ</th>
                                <th scope="col">ชื่อ-นามสกุล</th>
                                <th scope="col">รหัสบัตรประจำตัวประชาชน</th>
                                <th scope="col">ที่อยู่</th>
                                <th scope="col">เบอร์โทรศัพท์</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>สุชาติ สานฝัน</td>
                                <td>1234566789412</td>
                                <td>65 ถ.ลงหาดบางแสนใต้ ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                                <td>0908423615</td>
                                <td>
                                    <ul class="nav justify-content-end">
                                        <button type="button" class="btn btn-sm btn-warning">
                                            <i class="fa fa-edit fa-fw"></i>
                                            แก้ไข
                                        </button>&nbsp;
                                        <button type="button" class="btn btn-sm btn-danger">
                                            <i class="nav-icon fas fa-trash fa-fw"></i>
                                            ลบ
                                        </button>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>อำนวย อวยชัย</td>
                                <td>2165485963147</td>
                                <td>74 ถ.ลงหาดบางแสนใต้ ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                                <td>0918461527</td>
                                <td>
                                    <ul class="nav justify-content-end">
                                        <button type="button" class="btn btn-sm btn-warning">
                                            <i class="fa fa-edit fa-fw"></i>
                                            แก้ไข
                                        </button>&nbsp;
                                        <button type="button" class="btn btn-sm btn-danger">
                                            <i class="nav-icon fas fa-trash fa-fw"></i>
                                            ลบ
                                        </button>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>ผดุง ยุติธรรม</td>
                                <td>1485264593574</td>
                                <td>28 ถ.ลงหาดบางแสนใต้ ต.แสนสุข อ.เมือง จ.ชลบุรี 20130</td>
                                <td>0615832014</td>
                                <td>
                                    <ul class="nav justify-content-end">
                                        <button type="button" class="btn btn-sm btn-warning">
                                            <i class="fa fa-edit fa-fw"></i>
                                            แก้ไข
                                        </button>&nbsp;
                                        <button type="button" class="btn btn-sm btn-danger">
                                            <i class="nav-icon fas fa-trash fa-fw"></i>
                                            ลบ
                                        </button>
                                    </ul>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>

                <!-- /.card-body -->
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title font-weight-bold" id="exampleModalLabel">เพิ่มพนักงานเก็บขน</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>ชื่อ</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>นามสกุล</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>หมายเลขประจำตัวประชาชน</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>บ้านเลขที่</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>หมู่</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>ถนน</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>ตำบล</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>อำเภอ</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>จังหวัด</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>รหัสไปรษณีย์</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>หมายเลขโทรศัพท์</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">บันทึก</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>