<div class="card card-light">
    <div class="card-header">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <p class="h5 d-inline-block font-weight-bold">เพิ่มข้อมูลเส้นทางการเก็บขน</p>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form role="form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>เส้นทางการเก็บขน</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>จุดเริ่มต้นของเส้นทาง</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>จุดสิ้นสุดของเส้นทาง</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>

        </form>

        <ul class="nav justify-content-center">
            <button type="submit" class="btn btn-primary">บันทึก</button>
        </ul>
    </div>
    <!-- /.card-body -->
</div>

<div class="card card-light">

    <div class="card-body">
        <div class="chart">
            <p class="h5 d-inline-block font-weight-bold">รายการข้อมูลเส้นทางการเก็บขน</p>
<br><br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ลำดับ</th>
                                <th scope="col">เส้นทางการเก็บขน</th>
                                <th scope="col">จุดเริ่มต้นของเส้นทาง</th>
                                <th scope="col">จุดสิ้นสุดของเส้นทาง</th>
                                <th></th>
                            </tr>
                        </thead>
                                
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>หาดวอนนภา</td>
                                <td>ต้นหาดวอนนภา</td>
                                <td>ท้ายหาดวอนนภา</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fa fa-edit fa-fw"></i>
                                        แก้ไข
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="nav-icon fas fa-trash fa-fw"></i>
                                        ลบ
                                    </button>
                                </td>  
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>เขาสามมุข</td>
                                <td>ต้นเขาสามมุข</td>
                                <td>ท้ายเขาสามมุข</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fa fa-edit fa-fw"></i>
                                        แก้ไข
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="nav-icon fas fa-trash fa-fw"></i>
                                        ลบ
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>ถนนเลี่ยงเมือง</td>
                                <td>ต้นถนนเลี่ยงเมือง</td>
                                <td>ท้ายถนนเลี่ยงเมือง</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fa fa-edit fa-fw"></i>
                                        แก้ไข
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="nav-icon fas fa-trash fa-fw"></i>
                                        ลบ
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>ถนนลงหาดบางแสน</td>
                                <td>ต้นถนนลงหาดบางแสน</td>
                                <td>ท้ายถนนลงหาดบางแสน</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fa fa-edit fa-fw"></i>
                                        แก้ไข
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="nav-icon fas fa-trash fa-fw"></i>
                                        ลบ
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
           
    </div>
    <!-- /.card-body -->
</div>