<div class="card card-light">
    <div class="card-header">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <p class="h5 d-inline-block font-weight-bold">เพิ่มข้อมูลรถขยะ</p>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form role="form">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>ทะเบียนรถขยะ</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>ชนิดรถขยะ</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>สี</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>ชนิดเครื่องยนต์</label>
                        <input type="text" class="form-control" placeholder=""> 
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>ขนาดความจุ(ลบม.)</label>
                        <input type="text" class="form-control" placeholder=""> 
                    </div>
                </div>
            </div>
            
        </form>

        <ul class="nav justify-content-center">
            <button type="submit" class="btn btn-primary">บันทึก</button>
        </ul>
    </div>
    <!-- /.card-body -->
</div>

<div class="card card-light">
    
    <div class="card-body">
                <div class="chart">
                    <p class="h5 d-inline-block font-weight-bold">รายการข้อมูลรถขยะ</p>
                    <br><br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ลำดับ</th>
                                <th scope="col">ทะเบียนรถขยะ</th>
                                <th scope="col">ชนิดรถขยะ</th>
                                <th scope="col">สี</th>
                                <th scope="col">ชนิดเครื่องยนต์</th>
                                <th scope="col">ขนาดความจุ(ลบม.)</th>
                                <th></th>
                            </tr>
                        </thead>
                              
                        <tbody>  
                            <tr>
                                <td>1</td>
                                <td>85-9983</td> 
                                <td>อัดท้าย</td>
                                <td>เขียว</td>
                                <td>ดีเซลล์</td>
                                <td>10</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fa fa-edit fa-fw"></i>
                                        แก้ไข
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="nav-icon fas fa-trash fa-fw"></i>
                                        ลบ
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>  
                                <td>85-9984</td> 
                                <td>อัดท้าย</td>
                                <td>เขียว</td>
                                <td>ดีเซลล์</td>
                                <td>12</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fa fa-edit fa-fw"></i>
                                        แก้ไข
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="nav-icon fas fa-trash fa-fw"></i>
                                        ลบ
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>85-9985</td> 
                                <td>อัดท้าย</td>
                                <td>เหลือง</td>
                                <td>ดีเซลล์</td>
                                <td>11</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-warning">
                                        <i class="fa fa-edit fa-fw"></i>
                                        แก้ไข
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="nav-icon fas fa-trash fa-fw"></i>
                                        ลบ
                                    </button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>

                </div>
            
    </div>
    <!-- /.card-body -->
</div>

