<!-- Main content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <!-- Dashboard 1 -->
      <div class="card card-dark">
        <div class="card-header">
          <p class="h4 d-inline-block font-weight-bold">แดชบอร์ด 1</p>
        </div>
        <div class="card-body">
          <canvas id="myChart" width="650px" height="500px"></canvas>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!--Dashboard 3 -->
      <div class="card card-dark">
        <div class="card-header">
          <p class="h4 d-inline-block font-weight-bold">แดชบอร์ด 3</p>
        </div>
        <div class="card-body">
          <div class="info-box mb-3" style="font-size:18px">
            <span class="info-box-icon bg-danger"><i class="fas fa-trash"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">ขยะเต็มถัง</span>
              <span class="info-box-number">3 ถัง</span>
            </div>
          </div>
          <div class="info-box mb-3" style="font-size:18px">
            <span class="info-box-icon bg-warning"><i class="fas fa-trash"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">ขยะมีครึ่งถัง</span>
              <span class="info-box-number">3 ถัง</span>
            </div>
          </div>
          <div class="info-box mb-3" style="font-size:18px">
            <span class="info-box-icon bg-success"><i class="fas fa-trash"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">ขยะมีน้อย</span>
              <span class="info-box-number">3 ถัง</span>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col (LEFT) -->

    <!-- Dashboard 2 -->

    <div class="col-md-6">
      <div class="card card-dark">
        <div class="card-header">
          <p class="h4 d-inline-block font-weight-bold">แดชบอร์ด 2</p>
        </div>
        <div class="card-body">
          <canvas id="pieChart" width="650px" height="500px"></canvas>
        </div>
        <!-- /.card-body -->

        <!-- /.card -->

      
        
      </div>
      <!-- Dashboard 4 -->
      <div class="card card-dark">
        <div class="card-header">
          <p class="h4 d-inline-block font-weight-bold">แดชบอร์ด 4</p>
        </div>
        <div class="card-body">
          <canvas id="donutChart" width="650px" height="500px"></canvas>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.col (RIGHT) -->

    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->

  </div>
</div>
<!-- /.content -->