<div class="card card-light">
    <div class="card-header">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <p class="h5 d-inline-block font-weight-bold">เพิ่มข้อมูลประเภทของขยะ</p>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form role="form">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="input-group">
                        <label>ประเภทของขยะ</label>
                        &nbsp;&nbsp;
                        <input type="text" class="form-control" placeholder="">
                        &nbsp;&nbsp;
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">บันทึก</button>
                        </span>
                    </div>
                </div>
            </div>

        </form>

    </div>
    <!-- /.card-body -->
</div>

<div class="card card-light">

    <div class="card-body">
        <div class="chart">
            <p class="h5 d-inline-block font-weight-bold">รายการข้อมูลประะเภทของขยะ</p>
            <br><br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ลำดับ</th>
                        <th scope="col">ประเภทของขยะ</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ขยะทั่วไป</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning">
                                <i class="fa fa-edit fa-fw"></i>
                                แก้ไข
                            </button>&nbsp;
                            <button type="button" class="btn btn-sm btn-danger">
                                <i class="nav-icon fas fa-trash fa-fw"></i>
                                ลบ
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>ขยะอินทรีย์</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning">
                                <i class="fa fa-edit fa-fw"></i>
                                แก้ไข
                            </button>&nbsp;
                            <button type="button" class="btn btn-sm btn-danger">
                                <i class="nav-icon fas fa-trash fa-fw"></i>
                                ลบ
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>ขยะรีไซเคิล</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning">
                                <i class="fa fa-edit fa-fw"></i>
                                แก้ไข
                            </button>&nbsp;
                            <button type="button" class="btn btn-sm btn-danger">
                                <i class="nav-icon fas fa-trash fa-fw"></i>
                                ลบ
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>ขยะอันตราย</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning">
                                <i class="fa fa-edit fa-fw"></i>
                                แก้ไข
                            </button>&nbsp;
                            <button type="button" class="btn btn-sm btn-danger">
                                <i class="nav-icon fas fa-trash fa-fw"></i>
                                ลบ
                            </button>
                        </td>
                    </tr>



                </tbody>
            </table>

        </div>

    </div>
    <!-- /.card-body -->
</div>